services:
  envoy:
    container_name: envoy
    image: envoyproxy/envoy:v1.36-latest
    pull_policy: always
    restart: unless-stopped
    ports:
      - "8318:8318"
    environment:
      - ANTHROPIC_API_KEY=${ANTHROPIC_API_KEY}
    volumes:
      - ./envoy.yaml:/etc/envoy/envoy.yaml:ro
    depends_on:
      - cliproxyapi
    command: ["-c", "/etc/envoy/envoy.yaml", "--log-level", "info"]
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  cliproxyapi:
    container_name: cliproxyapi
    pull_policy: always
    restart: unless-stopped
    image: eceasy/cli-proxy-api:latest
    ports:
      - "8085:8085"
      - "8317:8317"
      - "1455:1455"
      - "54545:54545"
      - "51121:51121"
      - "11451:11451"
    volumes:
      - ./config.yaml:/CLIProxyAPI/config.yaml
      - ./auths:/root/.cli-proxy-api
      - ./logs:/CLIProxyAPI/logs
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  watchtower:
    container_name: watchtower
    image: nickfedor/watchtower:latest
    pull_policy: always
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --label-enable --cleanup --interval 300
